AWS_ACCESS_KEY_ID=key-id
AWS_SECRET_ACCESS_KEY=access-key
AWS_REGION=aws-region
AWS_CERTIFICATE_ARN=aws-certificate-in-us-east-1-region
MAILCHIMP_DC=mailchimp-data-center
MAILCHIMP_API_KEY=mailchimp-api-key
MAILCHIMP_LIST_ID=mailchimp-list-id
GOOGLE_CLIENT_EMAIL=google-client-email
GOOGLE_PRIVATE_KEY=google-private-key
GOOGLE_VIEW_ID=google-view-id
SENDGRID_API_KEY=sendgrid-api-key
